* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --cell-size: 30px;
  --cell-number: 20;
  --border-size: 1px;
}

.board {
  width: calc((var(--cell-size) + var(--border-size) + 1) * var(--cell-number));
  height: calc(
    (var(--cell-size) + var(--border-size) + 1) * var(--cell-number)
  );
}

.row {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: var(--border-size) grey solid;
}
.cell--alive {
  background-color: black;
}
.cell--dead {
  background-color: #FFB347;
}

.cell:hover {
  box-shadow: var(--border-size) var(--border-size) 5px
    rgba(0, 0, 0, 0.8) inset;
  }

.button {
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
  color: #f5f5dc;
  margin: 10px 0px;
  width: 100px;
  height: 30px;
}

.input--speed {
  width: 50px;
  text-align: center;
}

.start-stop-button-true {
  width: 100px;
  height: 30px;
  background-color: red;
}
.start-stop-button-false {
  width: 100px;
  height: 30px;
  background-color: green;
}
.wrapping-button-true {
  width: 100px;
  height: 30px;
  background-color: green;
}
.wrapping-button-false {
  width: 100px;
  height: 30px;
  background-color: palevioletred;
}

.create-board-buttons {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;

}
.input--board-size {
  width: 50px;
  text-align: center;
}
.reset-button {
  width: 100px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}
.holder-holder {
  background-color: grey;
  padding: 1vmin;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  border-radius: 0.5vmin;
}
.button-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid darkslategrey;
  padding: 3px;
  margin: 5px;
}
.text--terminal{
  font-size: 20px;
  color: yellow;
}
.text-important{
  font-weight: bold;
}

.info-box {
  width: fit-content;
  cursor: pointer;
}