* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --cell-size: 30px;
  --cell-number: 20;
  --border-size: 1px;
}

.board {
  width: calc((var(--cell-size) + var(--border-size) + 1) * var(--cell-number));
  height: calc(
    (var(--cell-size) + var(--border-size) + 1) * var(--cell-number)
  );
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: var(--border-size) grey solid;
}

.cell--alive {
  background-color: black;
}

.cell--dead {
  background-color: peachpuff;
}

.advance-button {
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 5%;
}

.auto-buttons {
  width: 100px;
  height: 60px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 40%;
  right: 5%;
}

.speed-input {
  width: 100px;
}

.start-stop-button {
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.wrapping-button {
  width: 100px;
  height: 30px;
  background-color: teal;
  color: darkorange;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 30%;
  right: 5%;
}

.text-generation {
  position: fixed;
  top: 10%;
  left: 5%;
  background-color: bisque;
  color: black;
  border-radius: 5px;
}